.analytics-box {
    display: flex;
    padding-bottom: 30px;
    flex-direction: row;
}
.analytics-box-left {
    width: 60%;
    box-sizing: border-box;
    padding-right: 20px;
}
.analytics-box-right {
    width: 40%;
    box-sizing: border-box;
    padding: 20px;
    background-color: $blue-background-color;
    border-radius: 8px;
}
.avatar {
    margin-left: -30px;
    &:first-child {
        margin-left: 0;
    }
    
}
.analytics-title {
    margin-top: 20px;
    font-size: 62px;
}
.analytics-text {
    margin-top: 20px;
    font-size: 16px;
    color: $grey-font-color;
    span {
        color:darkblue;
        font-weight: 600;
    }
}
.analytics-button-box {
    margin-top: 20px;
    a {
        color: darkblue;
        font-weight: 600;
        margin-left: 10px;
        .fa-arrow-right {
            margin-left: 5px;
            font-size: 12px;
        }
    }
}
.avatar-collection {
    margin-top: 20px;
}
.graph-box {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    padding: 20px 20px;
}
.top-post-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.avatar-box {
    display: flex;    
}
.avatar-status-box {
    margin-left: 8px;
}
.name {
    font-weight: 600;
    font-size: 18px;
}
.live-data {
    color: $grey-font-color;
}
.status-circle {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: lightgreen;
    margin-left: 5px;

}
.status {
    display: flex;
    align-items: center;
}
.drop-menu {
    border-radius: 3px;
    padding: 10px 12px;
    border: 2px solid black;
    cursor: pointer;
}
.fa-chevron-down {
    margin-left: 10px;
}
.graph-img {
    width: 100%;
}
.stats {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &:last-child {
        margin-bottom: 20px;
    }
}

.stats-text {
    margin-top: 5px;
    color: $grey-font-color;    
}
.stats-numbers {
    font-weight: 600;
    font-size: 19px;
}